.page[b-wpi9k522q9] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-wpi9k522q9] {
    flex: 1;
}

.sidebar[b-wpi9k522q9] {
    background-color: #292b2c;
}



@media (min-width: 1000px) {
    .page[b-wpi9k522q9] {
        flex-direction: row;
    }

    .sidebar[b-wpi9k522q9] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
}
