


.center_header {
    margin: auto;
    border: 0px solid;
    padding: 20px 0;
    margin-top: 30px;
    text-align: center;
}

.transition_picture {
   float:left;
    padding-top: 0px;
    height: 100px;
    border: 0px solid;
}
.transition_text {
   float:right;
    width: 300px;
    height: 100px;
    border: 0px solid;
}

.div_center {
    width: 400px;
}
