@page "/a_la_carte_page"

<div>
    <div class="">
        <Headerbar_Pages></Headerbar_Pages>
    </div>
</div>



<div class="masthead ">

    <div class="image_text_overlay d-flex justify-content-center align-items-center ">
        <div>
            <h1 class="image_text_header">Food Amadeus</h1>
            <p class="image_text_footer text-light">A la carte</p>
        </div>

    </div>
</div>




<footer>
    <div class="">
        <Footerbar></Footerbar>
    </div>
</footer>



@code {

}
