

<div class="masthead ">

    <div class="image_text_overlay d-flex justify-content-center align-items-center ">
        <div>
            <h1 class="image_text_header">Food Amadeus</h1>
            <p class="image_text_footer text-light">iznad prosjecna kulinarika</p>
        </div>

    </div>
</div>


@code {

}
