
.text_to_bottom {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    padding-right: 18%;
}

.image_to_top {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 50%;
    height: 100%;
}

.image_to_top2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    height: 100%;
}
