

<div class="container-fluid ">
    <div class="row bg-dark ">
           
        <div class="naviga col ">

            <div class="row h-50">
                <div class="col-12 text-light text center text_to_bottom">
                    <h5>Pratite nas:</h5>
                </div>
            </div>

            <div class="row h-50 ">
                <div class="image_to_top">
                    <nav class="col-6 navbar navbar-light d-flex justify-content-center">
                        <a class="navbar-brand" href="#">
                            <img src="/images/facebook.png" asp-append-version="true" width="40px">
                        </a>
                    </nav>
                </div>
                <div class="image_to_top2">
                    <nav class="col-6 navbar navbar-light d-flex justify-content-center">
                    <a class="navbar-brand" href="#">
                        <img src="/images/instagram.png" asp-append-version="true" width="40px">
                    </a>
                </nav>
                </div>
                
               
            </div>
            
        </div>

        <div class="restaurant_info col d-flex justify-content-center">
            <div class="center">
                <div class="text-light">
                    <h5>Pleskovec 160A</h5>
                    <h5>40311 Pleskovec</h5>
                    <h5>091 000 0030 0304</h5>
                </div>
             </div>


        </div>

        <div class="col-md-3 d-flex justify-content-center ">
            <div class="center">
                <div class="center_header d-none d-lg-block">
                    <a class="navbar-brand center" href="#">
                        <img src="/images/amadeus-icon.png" asp-append-version="true" width="80px">
                    </a>
                </div>
            </div>


        </div>


        <div class="col d-flex justify-content-center text-nowrap">
            <div class="center">

                <div class="text-light">
                    <h5>Restoran:</h5>
                    <p>MO - DI von 09.00 bis 20.00</p>
                    <p>MI - FR von 09.00 bis 24.00</p>
                </div>


                <div class="text-light">
                    <h5>Kuhinja:</h5>
                    <p>MO - DI von 09.00 bis 20.00</p>
                    <p>MI - FR von 09.00 bis 24.00</p>
                </div>

               
            </div>
        </div>


        <div class="rezervations col d-flex justify-content-center">
            <div class="center">
                <Tooltip DayWeekText="Company:" WeekText="Amadeus d.o.o" DayWeekendText="Vlasnik" WeekendText="Dean Novak" >About Us</Tooltip>
            </div>
        </div>
        <!--<div class="sidebar">
            <NavMenu />
        </div>
        -->
    </div>

</div>

@code {

}

@code {

}
