

<div class="container-fluid ">

    <div class="row bg-dark ">

        <div class="naviga col-2 d-flex justify-content-center">
            <nav class="navbar navbar-light">
                <a class="navbar-brand" href="#">
                    <img src="/images/menu-Icon.jpg" asp-append-version="true" width="50px">
                </a>
            </nav>
        </div>

        <div class="restaurant_info col-2 d-flex justify-content-center">
            <div class="center">

                <div class="">
                    <h3 class="text-center text-light"> Radno vrijeme </h3>
                </div>


                <div class="row">
                    <div class="col-3">
                        <a class="navbar-brand" href="#">
                            <img src="/images/free-phone-icon.png" asp-append-version="true" width="30px">
                        </a>
                    </div>
                    <div class="col-9">
                        <p class="text-center text-light"> 091 02354 23542 </p>
                    </div>
                </div>


                <div class="row">
                    <div class="col-3">
                        <a class="navbar-brand" href="#">
                            <img src="/images/email-Icon.png" asp-append-version="true" width="30px">
                        </a>
                    </div>

                    <div class="col-9">
                        <p class="text-center text-light"> amadeus@gmail.com </p>
                    </div>

                </div>
            </div>


        </div>

        <div class="col-4 d-flex justify-content-center">
            <div class="center">
                <p class="text-light h1"> Amadeus </p>
            </div>
                
        </div>


        <div class="col-2 d-flex justify-content-center">
            <div class="center">
                <div class="">
                    <h3 class="text-light"> Gablec </h3>
                </div>
                <div class="">
                    <h3 class="text-light"> Vinska karta </h3>
                </div>
            </div>
            
        </div>

        <div class="rezervations col-2 d-flex justify-content-center">
            <div class="center">
                <h3 class="text-light"> rezervacije </h3>
            </div>
        </div>
        <!--<div class="sidebar">
            <NavMenu />
        </div>
        -->
    </div>

</div>

@code {

}
