

<div class="container-fluid">

    <div class="row">

        <div class="naviga col d-flex justify-content-center">
            <nav class="navbar navbar-light" @onclick="ToggleNavMenu">
                <a class="navbar-brand">
                    <img class="img" src="/images/menu.png" asp-append-version="true" width="50px">
                </a>
            </nav>
        </div>

        <div class="restaurant_info col d-flex justify-content-center">
            <div class="center_header text-nowrap">

                <TooltipBottom HeaderText="Restoran:" DayWeekText="PON-PET" WeekText="10:00 - 22:00 " DayWeekendText="SUB-Ned" WeekendText="10:00-24:00"><h3>Radno vrijeme</h3></TooltipBottom>
            </div>


        </div>

        <div class="col-md-3 d-flex justify-content-center d-none d-lg-block">
            <div class="center">
                <a class="navbar-brand center_header" href="#">
                    <img src="/images/amadeus-icon.png" asp-append-version="true" width="80px">
                </a>

            </div>
        </div>

        <div class="rezervations col d-flex justify-content-center">
            <div class="center_header">
                <h3 class="text-light"> Rezervacije </h3>
            </div>
        </div>
        <div class="col d-flex justify-content-center text-nowrap">
            <div class="center_header">

                <div class="row">
                    <div class="col-3">
                        <a class="navbar-brand" href="#">
                            <img src="/images/free-phone-icon-1-thumb.png" asp-append-version="true" width="20px">
                        </a>
                    </div>
                    <div class="col-9">
                        <p class="text-center text-light"> 091 02354 23542 </p>
                    </div>
                </div>


                <div class="row">
                    <div class="col-3">
                        <a class="navbar-brand" href="#">
                            <img src="/images/email-Icon.png" asp-append-version="true" width="20px">
                        </a>
                    </div>

                    <div class="col-9">
                        <p class="text-center text-light"> amadeus@gmail.com </p>
                    </div>

                </div>


            </div>
        </div>



        <!--<div class="sidebar">
            <NavMenu />
        </div>
        -->
    </div>

    <div class="@NavMenuCssClass">
        <NavMenu></NavMenu>
    </div>

</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}


@code {

}
