

<div class="container-fluid ">

    <div class="row bg-dark ">

        <div class="naviga col d-flex justify-content-center">
            <nav class="navbar navbar-light">
                <a class="navbar-brand" href="#">
                    <img src="/images/menu-Icon.jpg" asp-append-version="true" width="50px">
                </a>
            </nav>
        </div>

        <div class="restaurant_info col d-flex justify-content-center">
            <div class="center_header">
                
               <Tooltip Text="PON-PET 10:00 - 23:00 SUB-NED 10:00 - 22:00">Restoran</Tooltip>
            </div>


        </div>

        <div class="col-md-3 d-flex justify-content-center ">
            <div class="center_header d-none d-lg-block">
                <img src="/images/amadeus-icon.png" asp-append-version="true" width="80px">
            </div>
            
                
        </div>


        <div class="col d-flex justify-content-center text-nowrap">
            <div class="center_header">

                <div class="row">
                    <div class="col-3">
                        <a class="navbar-brand" href="#">
                            <img src="/images/free-phone-icon.png" asp-append-version="true" width="20px">
                        </a>
                    </div>
                    <div class="col-9">
                        <p class="text-center text-light"> 091 02354 23542 </p>
                    </div>
                </div>


                <div class="row">
                    <div class="col-3">
                        <a class="navbar-brand" href="#">
                            <img src="/images/email-Icon.png" asp-append-version="true" width="20px">
                        </a>
                    </div>

                    <div class="col-9">
                        <p class="text-center text-light"> amadeus@gmail.com </p>
                    </div>

                </div>


            </div>
        </div>


        <div class="rezervations col d-flex justify-content-center">
            <div class="center_header">
                <h3 class="text-light"> rezervacije </h3>
            </div>
        </div>
        <!--<div class="sidebar">
            <NavMenu />
        </div>
        -->
    </div>

</div>

@code {

}
