@page "/"


<head>
    <PageTitle>Index</PageTitle>
</head>

<body>
    
    <Entrance></Entrance>
    <Headerbar></Headerbar>

    <main class="container">

        <div class="row justify-content-start ">

            <div class=" col-12">

                    <Offers></Offers>
            </div>


        </div>


        <div class="row justify-content-center ">

            <div class=" col-12">

                <TransitionComponent></TransitionComponent>
            </div>


        </div>
        
        <div class="row justify-content-end">
            <div class="col-12">
                    
                    <NavigationComponent></NavigationComponent>
            </div>
        </div>
    </main>
    <Footerbar></Footerbar>
</body>



















<footer>
    
</footer>
