

<div class="container-fluid">
    <div class="row d-flex justify-content-center ">
        <div class="col-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2748.643575921555!2d16.357783050760954!3d46.455758879022724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476f4de472b13733%3A0x9d4ea92f141c097a!2sClub%20Amadeus!5e0!3m2!1sen!2shr!4v1672769454185!5m2!1sen!2shr"
                    class="center_map frame_height"
                    asp-append-version="true"
                    frameborder="0"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>



@code {

}
