
<div class="container-fluid">


    <div class="offers_allingnment">
        <h1>Sto vam nudimo:</h1>
        
    </div>
    <div class=" text-center">
        <h4>Kod nas u Food Amadeusu .....</h4>
    </div>

    <div class="row center">

        <div class="col-lg offers_allingnment">
            <img src="/images/menu.jpg" class="img-fluid" width="100%" height="100px">
        </div>
        <div class="col-lg offers_allingnment">
            <img src="/images/dnevni.jpg" class="img-fluid"  width="100%" height="100px">
        </div>
        <div class="col-lg offers_allingnment">
            <img src="/images/pica.jpg" class="img-fluid"  width="100%" height="100px">
        </div>
        
    </div>
</div>



@code {

}
