
<div class="text_overlay  ">


    <div class="offers_allingnment">
        <h1>Sto vam nudimo:</h1>
    </div>
    

    <div class="row center">

        <div class="col-lg offers_allingnment">
            <img src="/images/menu.jpg" class="img-fluid" width="500px" height="400px">
        </div>
        <div class="col-lg offers_allingnment">
            <img src="/images/dnevni.jpg" class="img-fluid"  width="500px" height="400px">
        </div>
        <div class="col-lg offers_allingnment">
            <img src="/images/pica.jpg" class="img-fluid"  width="500px" height="400px">
        </div>
        
    </div>
</div>



@code {

}
