
<div class="container-fluid">


    <div class="offers_allingnment">
        <h1>Sto vam nudimo:</h1>
        
    </div>
    <div class=" text-center">
        <h4>Kod nas u Food Amadeusu .....</h4>
    </div>

    <div class="row center">

        <div class="col-lg offers_allingnment zoom">
             <NavLink class="nav-link" href="/a_la_carte_page">
            <img src="/images/restaurant_menu.jpg" class="img-fluid" width="80%" height="80px">
            </NavLink>
        </div>
        <div class="col-lg offers_allingnment zoom">
             <NavLink class="nav-link" href="/gableci_page">
            <img src="/images/gableci_image.jpg" class="img-fluid"  width="80%" height="80px">
            </NavLink>
        </div>
        <div class="col-lg offers_allingnment zoom">
             <NavLink class="nav-link" href="/cjenik_pica_page">
            <img src="/images/drinks_menu.jpeg" class="img-fluid"  width="80%" height="80px">
            </NavLink>
        </div>
        
    </div>
</div>



@code {

}
