
<div class="text_overlay d-flex justify-content-center align-items-center ">
    <h1>Sto vam nudimo:</h1>
</div>

<div class="row">
    <div class="text_overlay col-sm">
        <img src="/images/menu-Icon.jpg" asp-append-version="true" width="50px">
        <p>hallo</p>
    </div>

    <div class="col-sm">
    </div>

    <div class="col-sm">
    </div>
</div>

@code {

}
