



.tooltip-wrapper {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    color: white;
    font-size: 25px;
}

span {
    visibility: hidden;
    position: absolute;
    width: 150px;
    top: 100%;
    left: 50%;
    margin-left: -50%;
    background-color: #363635;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border-radius: 6px;
    z-index: 1;
    font-size: 20px;
}

    span::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid double;
        border-color: #363635 transparent transparent transparent;
    }

.tooltip-wrapper:hover span {
    visibility: visible;
}

.tooltip-wrapper:hover {
    background-color: #555;
    border-radius: 6px;
}
