    

<div class="container-fluid">
    <div class="row">

        <div class="col-md-4 location_allingnment">
            <img class="transition_picture center_header" src="/images/navigation.png"
            asp-append-version="true"
            width="80px">
        </div>

        <div class="col-md-4 location_allingnment">
            <h2 class="center">Kako dodi do nas:</h2>
        </div>
        <div class="col-md-4 location_allingnment">
            <h2 class="transition_text center"></h2>
        </div>

    </div>

</div>

@code {

}
