
.center_header[b-i645pl0vat] {
    margin: auto;
    padding: 10px 0;
    text-align: center;
}

.img[b-i645pl0vat]{

}
.img:hover[b-i645pl0vat] {
    border-width: 10px;
    background-color: #ffffff;
    border-radius: 6px;
}

.container-fluid[b-i645pl0vat] {
    background-color: rgba(0,0,0,0.9);
}
