
.center_header[b-i645pl0vat] {
    margin: auto;
    border: 0px solid;
    padding: 10px 0;
    text-align: center;
}


.img:hover[b-i645pl0vat] {
    border-width: 10px;
    background-color: #ffffff;
    border-radius: 6px;
}
