@inherits LayoutComponentBase

<PageTitle>Amadeus</PageTitle>






<div class="page">


    <main>
        <div class="row">
            <div class></div>
            <div class="sidebar">
                <NavMenu />
                </div>
            <div class="">
                @Body
            </div>
               
           
        </div>
        
    </main>
</div>
