<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <h5 class="navbar-brand" >Food Amadeus</h5>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="fa-solid fa-house spacing" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/a_la_carte_page">
                <span class="fa-solid fa-book-open spacing" aria-hidden="true"></span> À la carte
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gableci_page">
          
                <span class="fa-solid fa-utensils spacing" aria-hidden="true"></span> Gableci
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/cjenik_pica_page">
                <span class="fa-solid fa-martini-glass-citrus spacing" aria-hidden="true"></span> Cjenik Pica
            </NavLink>
        </div>
 
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
